[2014-10-01 10:28] ForThoseAboutToCode opened #1 "BlobDetection.ProcessImage confusing width/height iterator"
Hello,

Does the BlobDetection create blobs having their x and y coordinates rotated? Is this a feature or a bug?

From the BlobDetection codes, it seems, strangely enough, that x is used iterate height and y is used to iterate width when the blobs are created. What is the reason for this?

Good work on the framework :)

[2014-10-15 10:33] ForThoseAboutToCode opened #2 "ImageStatistics - Exception handling"
Hello,

The ImageStatistics class seems to throw&print exception stack traces unnecessarily (in several locations). They are all printed on System.out.
Example:
try {
  throw new Exception("Histogram red null");
} catch (Exception e) {
e.printStackTrace();
}

You could try adding logging (JDK/log4j/...) instead?

Br,
 Saku

[2014-10-29 12:06] ForThoseAboutToCode opened #3 "Optimizing convolution"
Hello,

I've been running few algrothms against my material (>50MB images). Do you have in your roadmap a slot to optimize the Convolution process to use direct pixel byte/int arrays (produced by FastBitMap.getGrayData() and FastBitMap.getRGBData()) instead of using copy.getGray/Red/Green/Blue methods?

This might speed up things (blurs, edgedetectors) considerably.

BR,
 Saku

[2014-11-05 09:58] #1 closed, assigned to nobody

[2014-11-05 09:58] #2 closed, assigned to nobody

[2014-11-10 18:06] drexedam opened #4 "Index out of bound exception while using Opening filter"
Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 44000
     at Catalano.Imaging.FastBitmap.setGray(FastBitmap.java:813)
     at Catalano.Imaging.Filters.Erosion.applyInPlace(Erosion.java:94)
     at Catalano.Imaging.Filters.Opening.ApplyInPlace(Opening.java:80)
     at Catalano.Imaging.Filters.Opening.applyInPlace(Opening.java:63)
    ...

Filters applied before:
- Grayscale
 -

[2015-05-04 21:20] gswierczynski opened #6 "OutOfMemory exception."
Is there a way to avoid OutOfMemory exception when editing images with high resolution?

[2015-05-05 02:06] #6 closed

[2015-06-01 07:06] claudiocantalupo-spotsoftware opened #7 "DrawLine inverts X and Y coordinates"
- Catalano Framework: 1.4
- Android 4.4.4

Hello Diego,
if i run this sample code:
[code]

I expect a vertical line to be drawn but an horizontal one is drawn instead (is IntPoint(x, y) right?)

I have another issue, maybe related to the above mentioned (major issues in the pixel coordinate management?), if I call the DrawCircle this way:
[code]

I got this exception:
_java.lang.ArrayIndexOutOfBou

[2015-06-01 09:25] claudiocantalupo-spotsoftware commented on #7
Sorry, I just noticed this closed issue #1.

No more explanation is needed but I think that the html documentation is a little bit misleading:
_(from the original javadoc of IntPoint class):
Constructor and Description
IntPoint(double x, double y)
Initializes a new instance of the IntPoint class._

[2015-06-01 09:25] #7 closed

[2015-07-08 10:50] sunnybirman opened #16 "Couldn't correct orientation: java.lang.IllegalStateException error when trying to do UnSharpMasking"
I am processing an Image to make it Tesseract-OCR friendly using Catalano framework. Thresholding is working fine but when I try to UnsharpMasking or resizing I get an error Couldn't correct orientation: java.lang.IllegalStateException: Can't call setPixels() on a recycled bitmap even though I have set BitmapFactory options inmutable to true & minsdk=11.

Code snippet:
            FastBitmap fb =

[2015-07-08 12:51] DiegoCatalano commented on #16
Hello Sunnybirman,

Just comment the line [127](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Android.Image/src/Catalano/Imaging/Filters/UnsharpMasking.java#L127) in the class UnsharpMasking, this occurs because I forget to remove this line. I'll fix today yet.

In near future, I'll write [phase congruency](http://www.csse.uwa.edu.au/~pk/Research/research.html), a method

[2015-07-09 02:13] DiegoCatalano commented on #16
Fixed now.

[2015-07-09 02:13] #16 closed

[2015-07-10 05:20] sunnybirman commented on #16
![img_20150710_104541](https://cloud.githubusercontent.com/assets/8857494/8612629/2808f648-26f1-11e5-8260-ef62af7e27e7.jpg)
This is the Image of business card that I am working on.There is uneven lightning condition here.

Thanks

[2015-07-10 17:16] DiegoCatalano commented on #16
Hello Sunnybirman,

I got the results following this code:

[code]

![sunny](https://cloud.githubusercontent.com/assets/5301914/8624418/1773e032-270e-11e5-9522-352500b96647.png)

Cheers !!!

[2015-09-08 14:36] deepinder10 opened #17 "Instagram like Filters"
Hi, I really like your work on image processing.
It would be great if you can add the filters same to those in Instagram (Amaro,Lomo-fi,etc)
It would be a great help.
thanks

[2015-09-08 18:54] DiegoCatalano commented on #17
Hello Deepinder Singh,

A lot of filters of instagram uses curves levels adjustments. I'll write in the framework and some filters like instagram in the Artistic namespaces.

Cheers.!

[2015-09-09 03:59] deepinder10 commented on #17
Hoping to see that soon.
Thanks a lot Diego.

[2015-09-09 05:13] #17 closed

[2015-09-09 16:45] DiegoCatalano commented on #17
Hi Deepinder Singh,

[Levels Curve](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Image/src/Catalano/Imaging/Filters/LevelsCurve.java) is ready.

[2015-09-25 07:59] deepinder10 opened #18 "Can you show the screenshots of the filters?"
Hi Catalano,you have a lot of filters available in your library that i am really confused which one to use,can you put up images of every filter taking a single photo and applying every one on that so that everyone can easily get to know what each filter does to my photo.It would be a great help.
And please add the vignette effect if possible.
Thanks

[2015-10-01 13:52] DiegoCatalano commented on #18
Hello Deepinder Singh,
Can you give me another email ?, I tried with no sucess to send an example to you. I tried this email: sdeepinder8@gmail.com

[2015-10-01 16:00] deepinder10 commented on #18
actually the email is correct, please try sdeepinder10@gmail.com or deepinder10@hotmail.com.

I am building a effects applciation and i tried jhlabs which is reallly slow in loading and yours is perfect and i am eagerly waiting for instagram filters as i want to implment them.Please keep that on high priority if possible
https://www.quora.com/How-does-Instagram-develop-their-filters
this may help

[2015-10-06 08:04] icaliskan opened #20 "fft process returns blank image"
hi, Catalano, fft process returns blank (full wihite) image. where i m doing wrong? i attached code and input, output images.

[code]
![slippies](https://cloud.githubusercontent.com/assets/4953268/10312990/27b32f6a-6c56-11e5-9ca7-e8fe306c9077.jpg)
![grayscale_slippies](https://cloud.githubusercontent.com/assets/4953268/10312931/df39d2c0-6c55-11e5-9652-1c06bacff067.jpg)
![fft_slippies](https://clou

[2015-10-06 19:23] DiegoCatalano commented on #20
Hello İhsan,
You're probably using an old version. This happen because I have update the fourier transform to work with no power of 2.

I need to release the new version, contains several optimizations and fixes, but you download the master and compile.

With the same code, I got the results below.

![dogs_fourier](https://cloud.githubusercontent.com/assets/5301914/10319766/5d44af42-6c46-11e5-9df7

[2015-10-06 19:28] DiegoCatalano commented on #18
Hello Deepinder Singh,

I'm finishing the article where I describe how filters learn from the results of others, so it will be missing the vignette. ;)

Give me more +- 3 days.

[2015-10-07 08:05] icaliskan commented on #20
i solved the problem, thank you. but you can mavenize your project and deploy a repository :D, your libraries will be most usefull.

[2015-10-07 08:05] #20 closed

[2015-10-20 10:18] deepinder10 commented on #18
Hi Diego,
Any progress on the Instagram Filters.?
And i didn't get the examples of the filters, can you please try to send it again,it would be very helpful.
Thanks

[2015-10-23 10:22] SudarshanSMD opened #21 "Zernike Moment: How to computer Zernike Moment"
Hi there,
I want to compute Zernike Moment. Have referred to your code for computing Zernike moments, however what input shall be given to the ZernikeMoments() function is unclear to me.

viz.
 /**
     * Compute the set of Zernike's moments up to the specified order.
     * Also compute the width, height, and centroid of the shape.
     * @param order Order.
     * @param x X axis coordinates.

[2015-10-27 17:29] DiegoCatalano commented on #18
Hello Deepinder Singh,

You can follow this [tutorial](http://www.instructables.com/id/How-to-make-Instagram-Filters-in-Photoshop/).

Attention: Read the [license](http://creativecommons.org/licenses/by-nc-sa/2.5/) to follow the article.

Let's create a custom Lomo filter following this lomo function below.

![mycurves](https://cloud.githubusercontent.com/assets/5301914/10766257/ceb62b6a-7cbd-11e5

[2015-10-29 08:08] deepinder10 commented on #18
Hi Diego,
i tried the amaro filter from the link you gave but the result went worse.
Here is the code

FastBitmap fb = new FastBitmap(mOrigBitmap);

        Curve red = new Curve();
        red.addPoint(0/255f, 19/255f);
        red.addPoint(30/255f, 62/255f);
        red.addPoint(82/255f, 148/255f);
        red.addPoint(128/255f, 88/255f);
        red.addPoint(145/255f, 200/255f);
        red.add

[2015-10-29 12:38] DiegoCatalano commented on #18
There is a little problem in the method addPoint, I'll fix today in few hours.

[2015-10-29 16:02] deepinder10 commented on #18
So, i need to download new jar file for your library after you fix that.?

[2015-10-29 22:26] DiegoCatalano commented on #18
The curve isn't wrong, there is something strange in the tutorial, anyway you can use the values below, I take the values in this [project](https://github.com/mordonez-me/instagram-filters-jhlabs-android):

        Curve red = new Curve();
        red.addPoint(0/255f, 26/255f);
        red.addPoint(15/255f, 43/255f);
        red.addPoint(32/255f, 64/255f);
        red.addPoint(65/255f, 114/255f);

[2015-10-29 23:02] DiegoCatalano commented on #18
There is another tutorial [here](http://www.howtogeek.com/68431/create-instagram-style-photo-effects-with-gimp-or-photoshop/). You can apply in the framework as well. See the code below and the result:

        FastBitmap fb = new FastBitmap("image.jpg");
        FastBitmap layer = new FastBitmap(fb.getWidth(), fb.getHeight());

        int size = layer.getSize();
        for (int i = 0; i < size;

[2015-11-25 13:15] #18 closed

[2015-11-25 13:15] #4 closed

[2015-11-25 13:16] DiegoCatalano commented on #21
Ill to make an example using zernike moments today.

[2015-11-25 17:40] nijatismayilzada opened #22 "Hidden Markov Models"
Dear Catalano,

It seems this is the only way to reach you. I found HMM models on Accord net framework very useful. Do you have any plans to port HMM classifier to Java and Android? If you, when do you expect to finish?

[2015-12-11 15:59] kingrebound opened #23 "Separable convolution"
Hello Diego,
using Sauvola Threshold filter i found that process gets stuck when the SeparableConvolution is executed. I'm applying it on an image with a resolution of about 2500x1500 and the process never ends because all the iterations SeparableConvolution performs.

Was this filter designed to handle only small resolution images? Or can this be improved for bigger resolutions?

Thanks

[2015-12-11 16:33] DiegoCatalano commented on #23
Hello kingrebound,

It's strange, I change the convolution to separable convolution for just optimize the mean filter, I'll write a version of mean using integral images. Are you using to desktop or android version ?

Cheers !

[2015-12-11 16:36] kingrebound commented on #23
Hello Diego,
I'm using your framework under android.

Thanks for help!

[2015-12-12 00:57] DiegoCatalano commented on #23
Hello kingrebound,

The niblack/nick/sauvola/wolf are all optimized.
Some results in desktop version:

Algorithm:                         Detais:                                                  Time (ms)
Sauvola                            w/ Separable Conv + Fast Variance      4620
Sauvola                            w/ Integral Mean + Integral Variance     130

In the android should works faster

[2015-12-14 12:14] kingrebound commented on #23
Thanks Diego for your reply.

I have just tested the new version and now I there is a new issue; in fact when the mean and var fastbitmap are instantiated if the image is big i get these errors

Throwing OutOfMemoryError "Failed to allocate a 93063180 byte allocation with 4194304 free bytes and 52MB until OOM"

java.lang.OutOfMemoryError: Failed to allocate a 93063180 byte allocation with 4194304

[2015-12-17 16:11] DiegoCatalano commented on #22
I'll do it, I had added in the roadmap

[2015-12-25 18:18] lionelmessi opened #24 "FakeHDR: Can't call setPixels() on a recycled bitmap"
Hi Diego,

I am trying to use the FAKE HDR in Android but I get this error on using it. Can you help in providing pointers as to where to look.

Thanks!

[2015-12-25 18:33] lionelmessi commented on #24
I have a grayscale image and would like to enhance the quality in terms of brightness and contrast (Somewhere on the lines of Matlab: imadjust, adapthisteq). The original images appear to be washed out.

Which function would you like to suggest for this kind of problem? I also looked at AdaptiveContrastEnhancement() but not able to figure out good values for the contants! Any help is highly apprec

[2015-12-26 13:50] DiegoCatalano commented on #24
Hello lionelmessi,

The FakeHDR is fixed.
To achieve the results of imadjust, you can use [HistogramAdjust](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Android.Image/src/Catalano/Imaging/Filters/HistogramAdjust.java) (works in RGB too :)).
You can try others filters as: Clahe, HistogramEqualization, HistogramStretch.

Cheers !

[2015-12-26 17:02] lionelmessi commented on #24
Ohh great! BTW I wrote that myself yesterday but pulled and compared with you. Works awesome!

[2015-12-26 17:02] #24 closed

[2015-12-28 22:43] nijatismayilzada commented on #22
Thank you for your answer. I am definitely waiting for it.

[2015-12-30 14:42] DiegoCatalano commented on #23
Hello kingrebound,

I was reading about memory heap in the Android. Check this [link](http://stackoverflow.com/questions/11275650/how-to-increase-heap-size-of-an-android-application), maybe you can run the filters in the big images.

[2016-02-12 11:55] NickPakhomov opened #25 "Correlation Matching from Accord Framework?"
I did try to look for correlation function in the Catalano Framework, but I've not found anything that would return to me an array of matching point pairs.

Currently I am trying to use the code from http://www.codeproject.com/Articles/95453/Automatic-Image-Stitching-with-Accord-NET in my Java desktop app.

PS: haven't found RANSAC either :(

[2016-03-02 18:48] mfz2020 commented on #21
Hi there,

I also looking forward for the example. I also a newbie, where can I refer to compute Zernike Moment by using your code.

Thank you.

[2016-04-23 19:01] Nopalin opened #26 "Threshold not working when inverted"
I found a bug in the threshold class, when it is not inverted a value greather or equals than the specified is white, but when it is inverted a value less than the specified is black, painting in both cases the same images. Just need to change the condicional from less than to greather or equals to.

Greetings

[2016-04-24 03:07] DiegoCatalano commented on #26
Hello Nopalin,

This class is so old. I have reworked now and this bug is fixed. Much thanks !

Cheers !

[2016-04-24 03:07] #26 closed

[2016-04-24 20:41] deepsidhu1313 opened #27 "Getting Null pointer Exception on image's getGray while calculating difference between two images"
Hi,

I am newbie to image processing and i am using this framework for first time.

I am getting null pointer exception when your code try to access gray of the image
`Exception in thread "main" java.lang.NullPointerException
	at Catalano.Imaging.FastBitmap.getGray(FastBitmap.java:942)
	at Catalano.Imaging.Tools.ObjectiveFidelity.getMSE(ObjectiveFidelity.java:122)
	at qualityanalysis.QualityAnalys

[2016-04-24 21:10] deepsidhu1313 commented on #27
Sorry got the answer in the comment below. Thanks :). BTW isn't there anything which converts the image automatically while comparing, like

`if(!isGrayscale() || getGraydata==null){
this.toGrayscale()
}`

because you are comparing gray to compute the error.

[2016-04-24 21:10] #27 closed

[2016-06-09 12:51] guylevin opened #31 "Displaying mjpeg stream on screen"
Hello, is it possible to display mjpeg stream using this framework?

[2016-07-01 07:54] LiTe1991 opened #32 "IllegalStateException"
HI Diego,

I use your nice Framework, but now as I switch to android I get a exception during fastBitmap.toBitmap().
Exception is:
java.lang.IllegalStateException: Can't call setPixels() on a recycled bitmap
07-01 09:42:18.942 12791 13040 E AndroidRuntime:         at android.graphics.Bitmap.checkRecycled(Bitmap.java:243)
07-01 09:42:18.942 12791 13040 E AndroidRuntime:       at android.graphics.Bi

[2016-07-01 12:46] DiegoCatalano commented on #32
Hello Lite1991,

Sure, glad to help you,
There is some filter that I forget to remove the method recycle(). Send me the code plz.

[2016-07-01 13:03] LiTe1991 commented on #32
for(int i = 0; i < scanResult.getTotal(); i++) {
              try {
                File outputFile = File.createTempFile("_temp", i + ".img", outputDir);
                FileUtils.copyFile(scanResult.getFile(i).getPath(), outputFile.getPath());
                scanResult.getFile(i).delete();
                ScannActivity.results.add(outputFile.getPath());
               } catch (IOException e) {

[2016-07-01 13:35] DiegoCatalano commented on #32
In the rotate and resize I was calling the method recycle wrong. Now is fixed.

Try to recompile the lib and run.

[2016-07-01 13:37] LiTe1991 commented on #32
Okay thank you, but i get a new Exception durin "FastBitmap fastBitmap = new FastBitmap(...);
java.lang.OutOfMemoryError 07-01 15:35:51.250  6557  6612 E AndroidRuntime:
at Catalano.Imaging.FastBitmap.refresh(FastBitmap.java:161)
07-01 15:35:51.250  6557  6612 E AndroidRuntime:
at Catalano.Imaging.FastBitmap.<init>(FastBitmap.java:97)

Or it´s my misstake?

[2016-07-01 13:46] DiegoCatalano commented on #32
The exception "java.lang.OutOfMemoryError" occurs depending on the version of Android, image size and the amount of ram of the smartphone.

[2016-07-01 13:50] LiTe1991 commented on #32
Can i increas the ram size by code?

[2016-07-01 14:04] DiegoCatalano commented on #32
What is the size of the image and the android version ?

[2016-07-01 14:11] LiTe1991 commented on #32
Image information:
-11.07 MB
- A4 with 200DPI (1654 x 2339 Pixels )

I have android 4.2.2(API 17)

[2016-07-08 09:53] LiTe1991 commented on #32
Hi Diego, I have a general question maybe you cann help me?
I want to save a Bitmap as 1 Bit Tiff and edit the EXIF Data, do you know how that works?

[2016-07-19 12:33] fer-marino opened #34 "Float FastBitmap"
Hi all,
I'm playing with this framework with good results. In particular I'm using the clahe filter to enhance my images. Unfortunately my images are satellite data that comes as 16 unsigned short (from 0 to 65535 per band) or 32bit float (from 0 to 1).

So I had to manually convert the image to 8 bit before applying the filter. Do you have any plan in the future to handle directly those type of i

[2016-07-22 10:35] DiegoCatalano commented on #34
Hello Fernando,

I will port all the filters to support 16 bits and 32 bits unsigned int, with the capability to set bits per sample, because I know some satellite images that works with 11 bits. I'm just waiting the Java 9 [tiff](http://openjdk.java.net/jeps/262) support. I plan to support double matrix as well too. Let me know more about your necessity.

How are you loading tiff images in the Ja

[2016-07-22 10:39] DiegoCatalano commented on #32
Currently java doesn't support tiff images, try to use [TwelveMonkeys](https://github.com/haraldk/TwelveMonkeys), this lib can support metadata edit.

[2016-07-22 14:30] fer-marino commented on #34
Hi Diego,
unfortunately my data is in netcdf format, so I extract the raw matrix from the files with the official netcdf driver ( http://www.unidata.ucar.edu/software/netcdf/ ) and then build the FastBitmap manually pixel by pixel, converting the data type also manually when needed. I want to avoid downscaling my data to get better results after filtering.

Regards,
Fernando

[2016-08-20 12:39] LiTe1991 commented on #32
Hi Diego,

can you maybe explane why your framework is so powerfull against standard java functions?

[2016-10-08 15:06] DiegoCatalano commented on #32
@LiTe1991 I have solved the out of memory exception.

Just add this code in your Android Manifest file.

`android:largeHeap="true"`

Anyway, ill port the filters to NDK in the future :)

[2016-12-30 05:26] GowthamanRajasekaran opened #36 "For Jar Request"
Hi DiegoCatalano,

                     I am now trying to use your updated Catalano-Framework for android image processing, I am getting issues of some missing sub files. Can you provide Jar Files or Gradle for Core,Fuzzy,Math and other libraries.

[2017-01-03 08:34] amirdaraei commented on #36
Hi everybody
I have the same problem as GowthamanRajasekaran said, when I used the library image or image android in android studio IDE give me an error about missing some class library like ImageUtil and when I added manually give the error about MaxMin plz help us.

[2017-01-03 16:39] DiegoCatalano commented on #36
Hello,

I'll create a new release with updated jars asap.

Cheers !!!

[2017-01-04 04:56] GowthamanRajasekaran commented on #36
Thank you @DiegoCatalano , Actually the Package  Library of Core, Math,Statistics are starting wit UpperCase letters. While running the code, android gives error

To solve this, i changed each and every file into Lowercase letters, now problem is solved and working properly.

[2017-01-04 14:49] Tosken1337 commented on #36
Also would like to have a new release.
Thanks ;)

[2017-01-04 15:16] Tosken1337 opened #37 "Red eye removal"
Are there any plans for an red eye removal algorithm?
I cannot find any good solution for this in java.

[2017-01-04 22:22] DiegoCatalano commented on #37
I'll study some approaches and then implement. Thanks for the sugestion.

Link: http://research.microsoft.com/en-us/um/people/leizhang/paper/icip04-lei.pdf

[2017-01-07 09:43] nickaein-a commented on #36
waiting for new release ...

[2017-01-07 12:46] DiegoCatalano commented on #36
Hello everybody,

I'm preparing now, the eta is about 1 hour.

[2017-01-07 13:00] amirdaraei opened #38 "Problem with SingleScaleRetinex"
Hi,@DiegoCatalano
thanks a lot and appreciate you for the useful library but have you ever tested SingleScaleRetinex and other samples like MultiScaleRetinex  ???

[2017-01-07 13:49] DiegoCatalano commented on #38
Hello, @amirdaraei,

For some reason im computing the log with negative values, this is wrong, its generating black images, I'll fix this.

Thank you

[2017-01-07 14:06] DiegoCatalano commented on #38
Fixed.

@amirdaraei If you find any problem you can contact. It will be a pleasure to help you.

[2017-01-07 20:57] amirdaraei commented on #38
Thanks for your attention, I have problem with:
        //Transform the image in matrix.
        double[][] image = fastBitmap.toMatrixGrayAsDouble();
  it doesn't recognize "toMatrixGrayAsDouble()" method
and I can't import ImageUtil from the library?
PS:I have worked in Android Studio Library and I intend to use Retinex method for Camera frame
I'll appreciate it if you give me your e-mail.

[2017-01-08 05:01] DiegoCatalano commented on #38
This is strage.

This is my email: diego.catalano@live.com

[2017-01-09 13:22] DiegoCatalano commented on #36
Hi @GowthamanRajasekaran,

I'm currently using Android Studio 2.2.3. The upper case letters doesn't give errors. Can you send me a print screen plz ?

Thanks

[2017-01-10 06:03] GowthamanRajasekaran commented on #36
Hi @DiegoCatalano ,

       As for your reference, i attached the print screen error which i got while using as the library. I am also using Android Studio 2.2.3 only.

![image](https://cloud.githubusercontent.com/assets/24268504/21795521/7157108a-d728-11e6-81c3-e9acbac274f5.png)

Thanks

[2017-01-10 08:22] amirdaraei commented on #36
Hi @GowthamanRajasekaran
Change name package with Caps letters to little letters.

[2017-01-10 08:49] GowthamanRajasekaran commented on #36
Hi @amirdaraei ,

        when i change package name, the internal library files also needs to be changed. After changing package and internal files, now it is working.

[2017-01-10 18:04] amirdaraei commented on #36
Hi guys
there is a problem:
I use OpenCV for detect eyes in my project and I intend to use Catalano library for use MultiScaleRetinex(for illumination enhancement) but there is a problem when I passed camera frame to the library, the library just accepted bitmap parameters and I don't know what to do...
Any help will be appreciated
PS: attached screen shot
![Uploading Untitled.jpg…]()

[2017-01-16 05:21] GowthamanRajasekaran commented on #36
Hi @DiegoCatalano ,

            Thank you for releasing Jar Files, this helps me to process easily .

[2017-01-16 05:21] #36 closed

[2017-01-16 09:59] GowthamanRajasekaran opened #39 "OutOfMemory Issue"
Hi @DiegoCatalano,

           While i captured image using android Indent and after converting to mutable bitmap image with **_Bitmap.Config.ARGB_8888_** and passing to Fastbitmap  the following error arises,

**E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: catalano.imaging, PID: 3401
                  java.lang.OutOfMemoryError: Failed to allocate a 31961100 byte allocation

[2017-01-16 12:29] DiegoCatalano commented on #39
@GowthamanRajasekaran, Android doesn't allow to allocate much data. I'll give you some tips.

1) Large heap

In your tag <application> in AndroidManifest.xml, add:

`android:largeHeap="true"`

2) Save your image in the storage, recycle the bitmap if its in the memory, so you can load the image directly in the FastBitmap, this can avoid duplicate bitmap.

3) NDK filters, In this case I need to impl

[2017-02-21 12:34] Tosken1337 opened #40 "Green screen algorithm"
Hi,

do you plan to integrate a green screen (color key) masking algorithm?
Or do you have any advice for me ho i can achieve something like this?

Thanks
Sebastian

[2017-02-28 11:35] santhosh827 opened #41 "Face Recognition in Catalano-Framework"
Do you have face recognition solution?
I cannot find any good solution for this in java.

[2017-03-01 12:24] tarrew opened #42 "Android: Concurrent HSLFilter bug?!"
Hey,

i tried using the concurrent HSLFilter in an Android application. It didn't work at all, so i tried debugging the app:
![hslfilter](https://cloud.githubusercontent.com/assets/9460805/23459654/9cb28842-fe81-11e6-81a5-c53e4bceb32b.PNG)

Previously the Share-Object is created like this [here](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Image/src/Catalano/Imaging/Con

[2017-03-01 14:09] DiegoCatalano commented on #42
Hello tarrew,

I had forgotten to set the "endWidth" parameter in the Share class.
It's already [fixed](https://github.com/DiegoCatalano/Catalano-Framework/commit/9865ec312bf3e0c1006646711cedb48571df9a37).

Thank you so much 👍

[2017-03-01 14:09] #42 closed

[2017-03-03 11:18] Tosken1337 opened #43 "Example of active contour / snake algorithm"
I am looking for a active contour algorithm to find object contours in images.
Can you tell me how to use you snake implementation?
Do you have an snipet as an example?

Thanks

[2017-04-27 10:21] xbald opened #44 "What if I create fork and add ability to build tihs framework with maven?"
What if I create fork and add ability to build tihs framework with maven?
It is very useful and why not to publish it in maven central?

[2017-05-29 19:40] DiegoCatalano commented on #41
I'll create a complete example

[2017-06-16 04:24] Wavesonics commented on #44
+1

[2017-06-20 05:36] DiegoCatalano commented on #44
Hello @xbald,
It's ok for the project.
Recently, I'm not having time to update the framework.

[2017-06-20 06:12] rkluszczynski commented on #44
Hi @xbald, did you consider Gradle (http://gradle.org)?

IMHO it is much more powerful. I can help a bit to work on it, if you will decide on it;)

[2017-06-25 06:54] ksmallik opened #45 "How can I increase the DPI of an image?"
Hi Folks,
   This is one of the most useful image processing libraries for Android. And what for bytes (lean and mean). Presently I need to increase the dpi(resolution) of an image. Should I use ResizeBicubic?

[2017-06-25 23:12] DiegoCatalano commented on #45
Hello @ksmallik,

DPI is different than resolution. [[Source](https://www.vsellis.com/understanding-dpi-resolution-and-print-vs-web-images/)]

DPI: Dot’s per inch. The number of dots in a printed inch. The more dot’s the higher the quality of the print (more sharpness and detail).

Resolution: Resolution is the measure of pixels in the display, usually expressed in measurements of width x height.

[2017-06-26 04:54] ksmallik commented on #45
Thanks for the reply @Diego. Thanks for the clarification. Yes, please port the method saveAsPNG() and saveAsXXX() methods. They would be very useful. When can we expect it?

[2017-06-27 05:20] ksmallik commented on #45
@DiegoCatalano, can you atleast provide the java code for saveAsPNG() for Android. Need it for my app.

[2017-06-29 05:03] ksmallik commented on #45
Thanks @DiegoCatalano. Just saw your added support function. How do I compile your code into a jar?

[2017-06-29 15:17] ksmallik commented on #45
@DiegoCatalano I see that the DPI support is in Imaging Library(Have you ported to Android yet?).

[2017-06-29 15:58] DiegoCatalano commented on #45
@ksmallik, I'm sorry, I was away solving a problem in the dissertation.

I'll port to android now

[2017-06-29 16:02] ksmallik commented on #45
@DiegoCatalano Can you make it saveAsPNG()?

[2017-06-30 15:02] ksmallik commented on #45
@DiegoCatalano I don't see the android port? I understand that you have your dissertation, but please try to port the method today. Thanks.

[2017-07-03 05:27] ksmallik commented on #45
@DiegoCatalano I will setttle for saveAsJPG(). Thanks.

[2017-07-05 16:29] kosh1218 opened #46 "Android Image. Can i have a sample code?"
Sir, can you help me use your catalano`s framework? I am trying to get the total pixels of an image and cut all the excess space for me to get the total width and height of the used space of the image. Can you please give some sample codes for this? I would really appreciate your help.

[2017-07-06 10:45] kosh1218 opened #47 "Sample programs or codes for image processing."
Anyone can give me some sample programs or codes that can get the pixels of an image. Total pixels, pixels per fold, how to fold an image, cut the image excess space of the image. I really need your help. I will appreciate your help. Thanks in advance!

[2017-07-07 09:24] ksmallik commented on #45
Such a wonderful library and all I asked was one method to be added to it. I am very dissappointed @DiegoCatalano

[2017-07-07 09:55] SakuKaukonen commented on #45
@ksmallik

Diego has been doing excellent work with this library and I personally appreciate his work a lot!

Remember that developers rarely have the possibility to work all of his/her time on a single open source project. It is a bit naive to expect that requests (no matter how small or big) are immediately handled by the developer (or within days or even weeks). I bet Diego has some other dutie

[2017-07-07 11:15] ksmallik commented on #45
@SakuKaukonen I apologize. As I mentioned in the first post, this is one of the rising frameworks. Maybe I expected him to provide a solution as soon as he said.  I am new to asking for feature requests from the owner. Yes let him work at his pace and time.

[2017-07-07 11:59] DiegoCatalano commented on #45
@ksmallik ,

I apologize a lot, this weekend including until yesterday I was not programming anything because I was traveling to hold some contests, I did not really have any time, but today I came back focused on helping you.

Today I will create the saveAsPNG () method, I promise.

[2017-07-08 12:06] DiegoCatalano commented on #45
The saveAsJPG() and saveAsPNG() is ready, I'm going to commit in an hour at the most.

[2017-07-08 14:08] DiegoCatalano commented on #45
@ksmallik,

The [saveAsJPG()](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Android.Image/src/Catalano/Imaging/FastBitmap.java#L992) and [saveAsPNG()](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Android.Image/src/Catalano/Imaging/FastBitmap.java#L1043) is ready, both support DPI in X and Y axis.

I'm sorry for the delay, until August I will b

[2017-07-08 16:00] DiegoCatalano commented on #47
Give me the image, so I can help you.

[2017-07-08 16:01] #32 closed

[2017-07-08 16:02] #38 closed

[2017-07-08 16:03] #23 closed

[2017-07-08 23:37] ksmallik commented on #45
You rock @DiegoCatalano!!

[2017-09-15 05:45] kirantpatil opened #48 "[How to] Create 8-bit grayscale image and save as jpeg/jpg"
Hi,

I would like to know the functions to create 8-bit grayscale image from android bitmap and save as jpeg/jpg.

If I use android method to create image from bitmap, it is not saving images in 8-bit depth, since [ALPHA_8](https://developer.android.com/reference/android/graphics/Bitmap.Config.html#ARGB_8888) doesn't work in android

Thanks.

[2017-10-04 18:47] Avamander commented on #44
I too would really appreciate a good maven repo, would make building projects with (up-to-date) Catalano much-much easier than it is now.

[2017-11-14 01:48] iskanderuse opened #49 "Understanding HistogramOfOrientedGradients.java"
Typically, a feature descriptor (HOG descriptor) converts an image of size width x height x 3 (channels ) to a feature vector / array of length n.
The ProcessImage method in the file HistogramOfOrientedGradients.java has desription "Process image looking for corners" and returns "list of found corners (X-Y coordinates)".
Can You explain what is doing this class and how to interpret the return valu

[2017-11-28 10:49] vincent-roth opened #50 "Gaussian 2D equation which one to choose ?"
Hi,
A question about gaussian.java
The equation of Function2D is written :
`Math.exp(-(x * x + y * y) / (2 * sqrSigma))
`
But according to [wikipedia](https://en.wikipedia.org/wiki/Gaussian_blur)
Shouldn't it be:
`Math.exp(-(x * x + y * y) / (2 * sqrSigma))/(2*Math.PI*sqrSigma)
`

Thank you for the framework, Vincent

[2017-12-31 16:09] lfdversluis opened #51 "How to import this framework?"
I have created a package and placed the files in it, Android Studio complains that it `cannot resolve symbol Catalano`, even though autocomplete suggest it just fine. A maven or jar to import would be much appreciated to avoid this hassle with AS importing.

[2018-05-26 05:26] meilani009 opened #52 "Hu Moment . Can i have a sample codes ?"
Anyone can give me some sample programs or codes that can get the hu moment of images using this library .I really need your help. I will appreciate your help. Thanks in advance! this is sample images that used in my project

![data0043](https://user-images.githubusercontent.com/34642496/40572790-e2e20d58-60df-11e8-9923-e4135e474785.jpg)

[2018-06-22 09:24] julilien commented on #51
You can download the libs from the releases, storing them in a project lib directory and tell Maven to import then using the .jar file. A bit dirty,
I know. I would also appreciate a Maven repository version, but the .jar import also works fine.

[2018-07-13 13:27] angelo-laduca opened #53 "Line Removal from Scanned Document"
Hello,
I am trying to find a way to remove horizontala and vertical lines from scanned Documents, to have better results with Tessercat. I tried with Hough, but I am getting lost...
It would be great to have some hints!

Thnaks in avance
![bi2780_pg3_displayimage](https://user-images.githubusercontent.com/20637719/42694038-4c1644f0-86b1-11e8-9d00-cdae20ebb628.jpg)

[2018-09-03 03:05] DiegoCatalano commented on #50
Hello @vincent-roth,

I forget to fix the 2D. Thank you !

[2018-09-03 03:05] #50 closed

[2018-09-03 03:06] #39 closed

[2018-09-03 14:26] nurilanwar123 opened #54 "question"

[2018-09-22 21:39] yuripourre opened #55 "Blend Filter issue"
I was reading the filters and I found something odd. Every part of the Blend filter fastBitmap is updated but in line 357 overlay is updated, is it a typo?

[Blend.java#L357](https://github.com/DiegoCatalano/Catalano-Framework/blob/master/Catalano.Image/src/Catalano/Imaging/Filters/Artistic/Blend.java#L357)

[2018-10-08 18:47] DiegoCatalano commented on #55
Hello @yuripourre,

I made a mistake, the correct one is to update the fastBitmap.
Thank you very much for your contribution ;)

[2019-01-31 10:55] SivaramSS opened #58 "Perspective transformation"
Hi,

Can someone tell me how to perform perspective transformation using this framework?

Please refer the images in this thread regarding perspective transformation
http://answers.opencv.org/question/102464/android-opencv-perspective-transformation-not-working-as-expected/

[2019-02-01 01:45] DiegoCatalano commented on #58
Hello, @SivaramSS

I took this picture from the internet as an example.

![quad](https://user-images.githubusercontent.com/5301914/52097149-c3be2100-25b0-11e9-8e30-7b6cad59fa22.png)

Just run the code below

        FastBitmap fb = new FastBitmap("c:\\files\\quad.png");

        List<IntPoint> lst = new ArrayList<>(4);
        lst.add(new IntPoint(174,48)); //A coordinate
        lst.add(new IntPo

[2019-02-01 02:48] DiegoCatalano commented on #58
Please, use the new version [1.6.1](https://github.com/DiegoCatalano/Catalano-Framework/releases/download/v1.6.1-libs/libs.zip)

[2019-02-14 17:09] #58 closed

[2019-02-14 17:10] #45 closed

[2019-02-14 17:11] #54 closed

[2019-03-06 06:32] SivaramSS commented on #58
Hi Diego,
IntPoint is not available in Android. I'm not able to run this code.

[2019-04-11 19:20] fkarimi67 opened #59 "gwo"
hello where is the main of gwo file?

[2019-04-11 22:06] DiegoCatalano commented on #59
Hello @fkarimi67,

Rastrigin function.

[code]

Now the main code below:

[code]

Cheers !!!

[2019-04-12 19:25] fkarimi67 commented on #59
Thank you

In which part of the program I add code? Error no main classes found?

On Fri, 12 Apr 2019 02:36 Marcos Diego Catalano <notifications@github.com
wrote:

[2019-04-13 19:11] fkarimi67 commented on #59
Hi, is this code correct?

[2019-04-22 12:51] KonstantinosGiannakakis opened #60 "Homomorphic Filtering"
Hi, I am trying to implement  the Homomorphic filter to some images, but it doesn't seem to work correctly for some reason. Is there any sample code for this?

Also I am not aware about the min,max range of frequencies that are used. What do they represent?

I have tried both RGB and Grayscale images. Is there some theory I am missing and can't get that to work?

[2019-10-23 10:41] zouyonghao commented on #60
It should work, can you paste your code?

[2020-06-05 05:10] jboxx opened #61 "On Aforge lib I see Document Skew Checker"
Hi, thanks for porting Aforge library, btw I am not seeing document skew checking in the current version. can you add it?

http://www.aforgenet.com/framework/docs/html/18d8bd4d-b15e-8507-a480-b2fe6eaeab44.htm

Thanks

[2020-06-05 05:52] jboxx commented on #61
Closed I wrong use latest version

[2020-06-05 05:52] #61 closed

[2020-06-09 13:11] jboxx opened #62 "Not finding ContrastStretch class"
Hi Diego,

Just found out [this](http://www.aforgenet.com/framework/docs/html/e7e63ac5-7c1b-5dc2-40b2-8c80e217a946.htm) class on AForge but I didn't found out that class on 1.6.1.1 version, is that same class as HistogramStretch?

[2020-06-09 15:58] jboxx opened #63 "IllegalArgumentException on WaveletTransform"
Hi Diego,

want to report I got this crash
<img width="696" alt="image" src="https://user-images.githubusercontent.com/3339451/84170814-40fe7d80-aaa4-11ea-9eae-f9fd68a9b27f.png">
once I want implement the wavelet transformation
<img width="436" alt="image" src="https://user-images.githubusercontent.com/3339451/84170931-68554a80-aaa4-11ea-86b3-96387a8e2cf4.png">
what's wrong with my code? the heigh

[2020-06-09 17:33] jboxx opened #64 "pixelBrightnessDiff in BradleyLocalThreshold param is unused"
Hi,

I just found this pixelBrightnessDiff param is unused here
https://github.com/DiegoCatalano/Catalano-Framework/blob/a2f337ec06c6b4cc3163054bb43a965265ed7c5c/Catalano.Android.Image/src/Catalano/Imaging/Concurrent/Filters/BradleyLocalThreshold.java#L58

Maybe I can help create PR for this one

[2020-10-05 01:58] jackz314 opened #65 "Where can I find examples/sample code or documentation on the framework?"
I'm trying to use the framework to do some grid detection. So far, I found the `BradleyLocalThreshold` class, but I'm not sure how I should use it exactly. Also, there are some other things that I want to do like contour detection and Gaussian blurring, is there any general documentation or sample code on image processing that I can look at?

From my limited research, it looks like there used to b

[2020-12-09 08:21] ForThoseAboutToCode commented on #65
Hi Jackz,

Maybe you can take a look at http://www.aforgenet.com/framework/docs/html/0ad5b988-5613-d62a-22a9-cf41e39c139f.htm
Key is to specify the window size and difference limit factor.

Using Catalano is very much similar to AForge.
    BradleyLocalThreshold bt = new BradleyLocalThreshold();
    bt.setWindowSize(32);
    bt.setPixelBrightnessDifferenceLimit(0.02f);
    bt.applyInPlace(fastBitm

[2022-05-26 18:04] abdou00a opened #67 "Zernike moments"
Can you please give me an example how to calculate Zernike moments. I did not find any example in the sample folder.
I'm really need it.

[2022-08-29 02:32] xyloww opened #68 "How does fastbitmap.setGray affects this.bufferedImage"
Hello Sir,
In Catalano.Imaging.Filters, most methods alter
pixelsGray[x*strideX+y*strideY] = (byte) value using FastBitmap.setGray method.
How does pixelsGRAY affects this.bufferedImage in FastBitmap.toIcon/FastBitmap.saveAsJPG?

Also, I am having difficulties displaying images with DataBufferUShort after altering their FBM.pixelsGray[], may I ask if you have any advice to display/save the altered